body {
    background-color: rgb(255, 255, 255);
}

h1{
    font-size: clamp(80px, 10vw, 180px) !important;
    font-weight: 900 !important;
    color: #ff47a9;
}

h2{
    padding-top: 30px;
    font-size: clamp(40px, 1em, 100px) !important;
    font-weight: 700 !important;
    color: #ff47a9;
}

h3 {
    font-size: clamp(18px, 2em, 80px) !important;
    font-weight: 500 !important;
}

h4 {
    font-size: 45px;
    text-align: left;
}

p {
    font-size: clamp(16px, 2vw, 18px);
    color:rgb(98, 98, 98);
    padding: 10px;
}

header{
    background-image: url("/public/images/bg.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 50px;
}

header img {
    filter: drop-shadow(-10px -20px 20px #00000072);
}




.about-container {
    /* filter: drop-shadow(-10px -20px 20px #5151512c); */
    margin-bottom: 20px;

}

.about-container h3{
    color: #f2188cae;
    text-align: left;
}

a:hover {
    color: rgba(255, 255, 255, 0.876);
    transform: scale(0.7);
    filter: drop-shadow(0 0 20px rgba(34, 24, 148, 0.919));
    z-index: 999;
}


.quote-container{
    background-image: url("/public/images/bg.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    padding-bottom: 0;
}

.quote-container {
    padding: 40px;
}

.quote-container p {
    font-size: clamp(30px, 4vw, 40px);
    font-weight: 600;
}

.quote-container q {
    font-size: 100%;
}

.quote-container h4 {
    text-align: center;
}

.section-carousel{
    background-image: url("/public/images/bg.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.carousel-container {
    background-color: rgba(0, 0, 0, 0.261)
}

.carousel-container img{
    border-radius: 50%;
    height: 220px;
    width: 220px;
}

section {
    text-align: center;
    padding: 50px
}

.portfolio h2 {
    margin-bottom: 20px;
}
.portfolio h3{
    color: #f2188cae;
}
.portfolio div {
    margin-bottom: 10px;
    overflow: hidden;
}





.button-effect {
    color: rgba(183, 177, 177, 0.444);
    display: block;
    transform: scale(1.0);
    transition: 0.6s ease-in-out;
  }
  
.button-effect:hover {
    color: rgba(255, 255, 255, 0.876);
    transform: scale(1.1);
    filter: drop-shadow(0 0 20px rgba(0, 5, 9, 0.919));
    z-index: 999;
}

/* Disable hover effects on mobile */
@media (max-width: 768px) {
    #portfolio .button-effect:hover
    {
        transform: scale(1.0);
        filter: none;
    }
  }

  


.portfolio figure { overflow: hidden; }

.portfolio figure img {
  filter: brightness(0.64);
  transition: 
    transform 1.1s ease-in-out, 
    filter 0.6s ease-in-out;
}

.portfolio figure img:hover {
  filter: brightness(1.0);
  transform: scale(1.3);
  transition: 
    transform 1.1s ease-in-out, 
    filter 0.6s ease-in-out;
}


.portfolio figure img{
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

Footer {
    text-align: center;
    color: #20202033
}

a:link,
a:visited {
    color: #ff47a9;
    text-decoration: none
}

a:hover{
    color: #ff47a9;
    text-decoration: none
}

@media (max-width: 768px) {
    .image-container img {
      max-width: 50%;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .image-container2 img {
      max-width: 90%;
      height: auto;
    }
  }

