body {
    background-color: rgb(255, 255, 255);
}

h1{
    font-size: clamp(70px, 10vw, 180px) !important;
    font-weight: 900 !important;
    color: #ff47a9;
}

h2{
    font-size: 50px;
    font-weight: 700;
    color: #ff47a9;
}

h3 {
    margin-top: 5%;
    font-size: clamp(30px, 10vw, 40px);
    font-weight: 500;
    margin-bottom: 5%;
    
}

h4 {
    font-size: 45px;
    text-align: left;
}

p {
    font-size: clamp(20px, 4vw, 17px);
    color:rgb(98, 98, 98);
    padding: 10px;
}


header{
    background-image: url("/public/images/bg.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

header img {
    filter: drop-shadow(-10px -20px 20px #00000072);
}

button {
    padding: 5px;
    background-color: white;
    width: 151px;
    text-align: center;
    border-color: #ff47a9;
    font-size: 21px;
    
}

.about-container button {
    padding: 10px;
    margin: 20px;
    margin-top: 25px;
    background-color: white;
    width: 200px;
    text-align: center;
    border-color: #ff47a9;
    
}

.about-container {
    /* filter: drop-shadow(-10px -20px 20px #5151512c); */
    margin-bottom: 20px;
    margin-top: 30px;

}

.about-container h3{
    color: #f2188cae;
    text-align: left;
}


.quote-container{
    background-image: url("/public/images/bg.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    padding-bottom: 0;
}

.quote-container {
    padding: 40px;
}

.quote-container p {
    font-size: clamp(30px, 4vw, 40px);
    font-weight: 600;
}

.quote-container q {
    font-size: 105%;
}

.quote-container h4 {
    text-align: center;
}

.section-carousel{
    background-image: url("/public/images/bg.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.carousel-container {
    background-color: rgba(0, 0, 0, 0.261)
}

.carousel-container img{
    border-radius: 50%;
    height: 220px;
    width: 220px;
}

section {
    text-align: center;
    padding: 50px
}

.portfolio h2 {
    margin-bottom: 20px;
}
.portfolio h3{
    color: #f2188cae;
}
.portfolio div {
    margin-bottom: 10px;
}


.portfolio img {
    filter: brightness(0.8);
    transition: 
      transform 0.4s ease-in-out, 
      filter 0.4s ease-in-out;
    margin-bottom: 30px;
  }
  
.portfolio img:hover {
    filter: brightness(1.0);
    transform: scale(1.2);
    transition: 
      transform 0.4s ease-in-out, 
      filter 0.4s ease-in-out;
  }

#gallery figure img{
    aspect-ratio: 1 / 1;
    object-fit: cover;
    
}

Footer {
    text-align: center;
    color: #20202033
}

a:link,
a:visited {
    color: #ff47a9;
    text-decoration: none
}

a:hover{
    color: #ff47a9;
    text-decoration: none
}

@media (max-width: 768px) {
    .image-container img {
      max-width: 50%;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .image-container2 img {
      max-width: 90%;
      height: auto;
    }
  }

